# Object files
*.o
*.d

# Android
*.class
*.apk
*.ap_
*.dex
bin/
.settings/

# eclipse
.cproject
.project

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other
*.swp

# Tags
tags

BuildConfig.java
R.java

client/test
catnet/catnet
raspd/raspd
test/blink_act
test/breath_led
test/motor
test/pwm
test/l298n
test/sw2
test/test-raspd
test/test_unix
test/test_gpioint
test/hcsr04
test/rf24_test
test/rt_ssh
test/esc_test
test/test_file
test/mpu6050-raw
test/mpu6050-dmp
test/eMPL-test
test/ms5611
