# Object files
*.o
*.d

# Android
*.class
*.apk
*.ap_
*.dex
bin/

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other
*.swp

# Tags
tags

BuildConfig.java
R.java

catnet/catnet
raspd/raspd
test/blink_act
test/breath_led
test/motor
test/pwm
test/l298n
test/test-raspd
test/test_unix
client/test
