# Object files
*.o
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

catnet/catnet
raspd/raspd
test/blink_act
test/breath_led
test/motor
test/pwm
test/l298n
test/test_unix
test/test_gpioint
